@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=VT323&display=swap');

@font-face {
    font-family: Roadam;
    src: url('/assets/fonts/roadam/Roadam.otf');
}

@font-face {
    font-family: Histeriss;
    src: url('/assets/fonts/Histeriss-WyBle.otf');
}

@keyframes shake {
    0% { transform: translate(0, 0); }
    20% { transform: translate(-0.5px, -0.5px); }
    40% { transform: translate(0.5px, 0.5px); }
    60% { transform: translate(-0.5px, 0.5px); }
    80% { transform: translate(0.5px, -0.5px); }
    100% { transform: translate(0, 0); }
}

body {
    min-height: 100vh;
    background-image: url("/assets/images/graphy-dark.png");
    background-repeat: repeat;
    background-attachment: fixed;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}

.container {
    width: 65em;
    min-width: 65em;
    min-height: 40em;
    display: grid;
    grid-template-columns: 50% 50%;
    color: #f5f5f5;
    background: #070707;
    background-image: url("/assets/images/trippy4-3.png");
    border-radius: 0.2em;
    border: 1px solid #070707;
    box-shadow: 5px 5px rgba(0,0,0,0.17);
}


.torg {
    min-width: 50%;
    height: 100%;
    font-family: Roadam;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.torg h1 {
    animation: shake 0.3s ease-in-out infinite;
}

.auth-container {
    display: flex;
    flex-direction: column;
    padding: 5em 4em;
    background-color: rgba(0, 0, 0, 0.6);
    color: #f5f5f5;
    border-radius: 0.2em;
}

.sign-in-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 0.9em;
}

.auth-container h1 {
    text-align: center;
    font-family: Histeriss;
    font-size: 4em;
    color: #070707;
    margin-top: 0em;
    margin-bottom: 0.2em;
    background-image: url('/assets/images/vimg10-2-light.png');
    background-repeat: no-repeat;
    background-size: 50% 80%;
    background-position: center calc(15%);
}

.sign-in-form input {
    height: 2.5em;
    border: 1px solid #070707;
    border-radius: 0.2em;
    background: #151515;
    color: #f5f5f5;
    padding: 0.5em;
}

.sign-in-form input:focus {
    border-color: #f5f5f5;
    outline: none;
}

.sign-in-form button {
    height: 2.5em;
    border: 1px solid #070707;
    border-radius: 0.2em;
    background: #f5f5f5;
    color: #070707;
    padding: 1.7em;
    margin-top: 1em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}


.pw-label {
    display: flex;
    justify-content: space-between;
}

.sign-in-form a {
    text-decoration: underline;
    font-style: italic;
    color: gray;
}

.sign-up-link {
    color: gray;
    margin: auto;
}

