@import '../../index.css';

.login-container {
    width: 65em;
    min-width: 65em;
    min-height: 40em;
    display: grid;
    grid-template-columns: 50% 50%;
    color: var(--secondary-color);
    background: var(--primary-color);
    background-image: url("../../assets/images/trippy4-3.png");
    border-radius: 0.2em;
    border: 1px solid var(--primary-color);
    box-shadow: 5px 5px rgba(0,0,0,0.17);
}

.torg-container {
    min-width: 50%;
    height: 100%;
    font-family: Roadam;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.torg-container h1 {
    animation: shake 0.3s ease-in-out infinite;
}

.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4em;
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--secondary-color);
    border-radius: 0.2em;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 0.9em;
}

.auth-container h1 {
    font-size: 2.5em;
    color: var(--secondary-color);
    margin-top: 0em;
    margin-bottom: 0.2em;
    background-repeat: no-repeat;
    background-size: 100% 80%;
    background-position: center calc(15%);
}

.auth-form input {
    height: 2.5em;
    border: 1px solid var(--primary-color);
    border-radius: 0.2em;
    background: var(--accent-color);
    color: var(--secondary-color);
    padding: 0.5em;
}

.auth-form input:focus {
    border-color: var(--secondary-color);
    outline: none;
}

.auth-form button {
    height: 2.5em;
    border: 1px solid var(--primary-color);
    border-radius: 0.2em;
    background: var(--secondary-color);
    color: var(--primary-color);
    padding: 1.7em;
    margin-top: 1em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.pw-label {
    display: flex;
    justify-content: space-between;
}

.auth-form a {
    text-decoration: underline;
    font-style: italic;
    color: gray;
}

.sign-up-link {
    color: gray;
    margin: auto;
}
